@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap');

body, button, input, select, textarea {
  font-family: 'Playfair Display', serif;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

:root {
  --white: rgb(255, 255, 255);
  --dark-gray: #404040;
}

.header {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} 
.header .title {
  margin: 25px 0 0 50px;
}

.header .title p {
  margin: 0;
  padding-bottom: 10px;
  color: var(--white);
  font-size: 35px;
}

.header .menu {
  font-size: 20px;
  margin: 25px 0;
  width: 111px;
}

.header .menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.header .menu ul li {
  padding-bottom:10px;
}

.header .menu ul li a {
  color: var(--dark-gray);
  text-decoration: none;
  font-size: 25px;
}

.nav-ativo:after {
  background:var(--white);
  content: "";
  display: block;
  height: 2px;
  width: 100%;
}

.home {
  background-image: url("../img/bg-home.jpg");
}

.home-local {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.home-local h2 {
  margin: 35px 0;
  font-size: 20px;
  color: var(--dark-gray);
}

.home-local .itens {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.home-local .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--dark-gray);
}

.home-local .item img {
  width: 80%;
}

.home-local .item h3 {
  font-size: 17px;
  margin: 10px 0 0 0;
}

.home-local .item p {
  width: 70%;
  font-size: 15px;
  margin: 10px 0 0 0;
}

.btn {
  border: 2px solid var(--dark-gray);
  color: var(--dark-gray);
  font-size: 18px;
  line-height: 20px;
  padding: 8px 25px;
  text-decoration: none;
  margin: 30px 0 10px;
  transition: .6s;
}

.btn:hover {
  background-color: var(--dark-gray);
  color: var(--white);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white);
  font-size: 15px;
  background-color: var(--dark-gray);
  margin: 0;
}

.footer a {
  color: var(--white);
  text-decoration: none;
}

.sobre {
  background-image: url("../img/bg-sobre.jpg");
}

.enredo {
  width: 90%;
  color: var(--dark-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.enredo h2 {
  margin: 35px 0 10px;
  font-size: 20px;
  color: var(--dark-gray);
}

.enredo iframe {
  width: 100%;
  margin: 20px 0 40px;
}

.roteiro {
  background-image: url(../img/bg-roteiro.jpg);
}

.roteiro-header .menu ul li a {
  color: var(--white);
  text-decoration: none;
  font-size: 25px;
}

.locais {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.locais h2 {
  margin: 35px 0;
  font-size: 20px;
  color: var(--dark-gray);
}

.locais .linha1, .locais .linha2 {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.locais .item {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--dark-gray);
}

.locais .item img {
  width: 80%;
}

.locais .item p {
  width: 80%;
  font-size: 15px;
  margin: 10px 0 30px 0;
}

.contato {
  background-image: url(../img/bg-contato.jpg);
}

.contato-header .menu ul li a {
  color: var(--white);
  text-decoration: none;
  font-size: 25px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--dark-gray);
  margin-bottom: 40px;
}

.form-info {
  display: flex;
  flex-direction: column;
  width: 350px;
}

.form-info label {
  margin: 10px 0 5px;
}

.form-info input {
  padding: 5px;
}

.form-info textarea {
  resize: none;
}

.btn-info {
    border: 2px solid var(--dark-gray);
    color: var(--dark-gray);
    font-size: 18px;
    line-height: 20px;
    padding: 8px 25px;
    text-decoration: none;
    margin: 30px 0 10px;
    transition: .6s;
    width: 100px;
  }
  
  .btn:hover {
    background-color: var(--dark-gray);
    color: var(--white);
  }

/* celular */
@media (max-width: 480px) {
  .header {
    width: 100%;
    height: 50vh;
  }

  .header .title {
    margin: 10px 0 0 10px;
  }
  
  .header .title p {
    margin: 0;
    padding-bottom: 0px;
    font-size: 15px;
  }
  
  .header .menu {
    margin: 10px 0;
    width: 70px;
  }

  .header .menu ul li {
    padding-bottom: 0px;
  }
  
  .header .menu ul li a {
    font-size: 15px;
    color: var(--white);
  }
  
  .home-local h2 {
    margin: 15px 0;
    font-size: 13px;
    text-align: center;
  }
  
  .home-local .itens {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .home-local .item img {
    width: 50%;
  }
  
  .home-local .item h3 {
    font-size: 12px;
  }
  
  .home-local .item p {
    width: 70%;
    font-size: 12px;
    text-align: center;
    margin: 10px 0 25px 0;
  }
  
  .btn {
    font-size: 15px;
    padding: 5px 15px;
    text-decoration: none;
    margin: 10px 0 10px;
    transition: 0;
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
    font-size: 15px;
    background-color: var(--dark-gray);
    margin: 0;
  }
  
  .footer a {
    color: var(--white);
    text-decoration: none;
  }
  
  .locais h2 {
    margin: 15px 0;
    font-size: 15px;
  }
  
  .locais .linha1, .locais .linha2 {
    flex-direction: column;
    align-items: center;
  }
  
  .locais .item p {
    font-size: 13px;
    text-align: center;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--dark-gray);
    margin-bottom: 40px;
  }
  
  .form-info {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  
  .form-info input {
    padding: 3px;
  }
  
  .btn-info {
      font-size: 15px;
      padding: 5px 15px;
      text-align: center;
      transition: 0;
    }
  
}
