@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap');

body, button, input, select, textarea {
  font-family: 'Playfair Display', serif;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

:root {
  --white: #fff;
  --dark-gray: #404040;
}

.header {
  width: 100%;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} 
.header .title {
  margin: 25px 0 0 50px;
}

.header .title p {
  margin: 0;
  padding-bottom: 10px;
  color: var(--white);
  font-size: 35px;
}

.header .menu {
  font-size: 20px;
  margin: 25px 0;
  width: 111px;
}

.header .menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.header .menu ul li {
  padding-bottom:10px;
}

.header .menu ul li a {
  color: var(--white);
  text-decoration: none;
}

.nav-ativo:after {
  background:var(--white);
  content: "";
  display: block;
  height: 2px;
  width: 100%;
}

.home {
  background-image: url("../img/bg-home.jpg");
}

.home-local {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 95vh;
}

.home-local h2 {
  margin: 35px 0;
  font-size: 20px;
  color: var(--dark-gray);
}

.home-local .itens {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.home-local .item {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--dark-gray);
}

.home-local .item img {
  width: 400px;
}

.home-local .item h3 {
  font-size: 17px;
  margin: 10px 0 0 0;
}

.home-local .item p {
  width: 350px;
  font-size: 15px;
  margin: 10px 0 0 0;
}

.btn {
  border: 2px solid var(--dark-gray);
  color: var(--dark-gray);
  font-size: 18px;
  line-height: 20px;
  padding: 8px 25px;
  text-decoration: none;
  margin: 30px 0 10px;
  transition: .6s;
}

.btn:hover {
  background-color: var(--dark-gray);
  color: var(--white);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white);
  font-size: 15px;
  background-color: var(--dark-gray);
  margin: 0;
}

.footer a {
  color: var(--white);
  text-decoration: none;
}

.sobre {
  background-image: url("../img/bg-sobre.jpg");
}

.enredo {
  width: 900px;
  height: 95vh;
  color: var(--dark-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.enredo h2 {
  margin: 35px 0 10px;
  font-size: 20px;
  color: var(--dark-gray);
}

.enredo iframe {
  margin: 20px 0 40px;
}

.roteiro {
  background-image: url(../img/bg-roteiro.jpg);
}

.locais {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.locais h2 {
  margin: 35px 0;
  font-size: 20px;
  color: var(--dark-gray);
}

.locais .linha1, .locais .linha2 {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.locais .item {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--dark-gray);
}

.locais .item img {
  width: 400px;
}

.locais .item p {
  width: 350px;
  font-size: 15px;
  margin: 10px 0 30px 0;
}

.contato {
  background-image: url(../img/bg-contato.jpg);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--dark-gray);
  margin-bottom: 40px;
}

.form-info {
  display: flex;
  flex-direction: column;
  width: 350px;
}

.form-info label {
  margin: 10px 0 5px;
}

.form-info input {
  padding: 5px;
}

.form-info textarea {
  resize: none;
}


